.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  ion-label {
    color: var(--primary-color);
  }
  ion-input {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    --padding-start: 8px;
    --padding-end: 8px;
  }
}
