// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --primary-color: #ee7209;
  --secondary-color: #fff;
  --background-color: #0b0b0b;
}
