<ion-content>
  <ion-img class="logo" src="assets/logo.png" />
  <h2>Cadastro</h2>
  <form [formGroup]="form">
    <custom-input
      [label]="'Email'"
      placeholder="Digite aqui"
      type="email"
      [controlForm]="getControl('email')"
    />
    <custom-input
      [label]="'Nome'"
      placeholder="Digite aqui"
      type="text"
      [controlForm]="getControl('name')"
    />
    <custom-input
      [label]="'Data de nascimento'"
      placeholder="Digite aqui"
      mask="d0/M0/0000"
      type="text"
      [controlForm]="getControl('birthDate')"
    />
    <custom-input
      [label]="'Celular'"
      placeholder="Digite aqui"
      type="text"
      mask="(00) 0 0000-0000"
      [controlForm]="getControl('phone')"
    />
    <custom-input
      [label]="'Senha'"
      placeholder="Digite aqui"
      type="password"
      [controlForm]="getControl('password')"
    />
    <ion-button class="btn" (click)="submit()">Criar</ion-button>
  </form>
  <a>Ja tem conta? <strong>Entrar</strong></a>
</ion-content>
