ion-content {
  &::part(scroll) {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }

  ion-img {
    align-self: center;
    margin: 10vh 0 10vh;
    &::part(image) {
      width: 180px;
    }
  }

  h2 {
    text-align: center;
    font-weight: 700;
    color: var(--primary-color);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .btn {
      margin-top: 40px;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    text-align: center;

    margin-top: 8px;

    strong {
      color: var(--primary-color);
    }
  }
}
