<section>
  <div class="title" (click)="listPrograms()">
    <h2>programas</h2>
    <div class="tag">novo</div>
  </div>
  <div class="slide">
    <div class="shadow"></div>
    <swiper-container appSwiper #swiper [config]="swiperConfig" >
      @if (loading) {
        <swiper-slide swiper-slide *ngFor="let item of [].constructor(3)">
          <ion-skeleton-text [animated]="true" style="width: 100%; height: 140px;"></ion-skeleton-text>
        </swiper-slide>
      } @else {
        @for (item of programs; track $index) {
          <swiper-slide swiper-slide>
            <card-program style="width: 100%;" [item]="item" [progresses]="programsProgress" />
          </swiper-slide>
        }
      }
    </swiper-container>
  </div>

</section>
