section {
  h2 {
    margin: 0;
    font-family: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .title {
    display: flex;
    align-items: center;
    gap: 10px;

    margin: 20px 0;
  }

  .card {
    position: relative;

    height: 140px;
    width: 100%;
    border-radius: 12px;
    background-blend-mode: darken; 

    border: 1px solid #fff;
    display: flex;
    align-items: center;
    padding-left: 40px;

    .content { background-color: #ee7209; border-radius: 4px; width: 60px; height: 60px;}

  }

}
